atomic-agents
chromadb
crewai
crewai_tools
docling
easyocr
Flask==3.0.0
instructor
langchain
langchain-chroma
langchain-classic
langchain-community
langchain_openai
langchain-text-splitters
openai
pillow
pypdf
pymongo
python-dotenv==1.0.0
pytest
pytest-asyncio
pytest-mock
scikit-learn
streamlit
torch
transformers
voyageai