# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.venv
.env

# IDE
.vscode
.idea
*.swp
*.swo

# Documentation
README.md

# Local data
data/
*.log

